.idea
.vscode
dist

# Node dependencies
node_modules/
package-lock.json

*.iml
.npmrc
.DS_Store
.nyc_output
bin/
__pycache__
.docker
documentation/resources
documentation/content/en/examples

# Hugo
.hugo*
resources/
public/

# Hugo
.hugo*
resources/
public/

# We use sed -i.bak when doing in-line replace, because it works better cross-platform
*.bak

scripts/patch_reader/patch_reader
shell_files.out
!jsonschema-k8s.tar.gz